.yh-red-01{
	color:#c52426;
}
.yh-red-02{
	color:#df3c37;
}
.yh-red-03{
	color:#ff4954;
}
.yh-red-04{
	color:#f87e9c;
}
.yh-red-05{
	color:#fa7268;
}
.yh-red-06{
	color:#e25748;
}
.yh-red-07{
	color:#fd4d54;
}
.yh-red-08{
	color:#ea475e;
}
.yh-red-09{
	color:#ff3fa6;
}
.yh-red-10{
	color:#df3a65;
}
.yh-orange-01{
	color: #e0550c;
}
.yh-orange-02{
	color: #eb7e09;
}
.yh-orange-03{
	color: #fe8833;
}
.yh-orange-04{
	color: #dc8e29;
}
.yh-orange-05{
	color: #f4ac02;
}
.yh-yellow-01{
	color: #e9e126;
}
.yh-yellow-02{
	color: #d4c15a;
}
.yh-yellow-03{
	color: #efcb6b;
}
.yh-yellow-04{
	color: #fbe70e;
}
.yh-yellow-05{
	color: #a5cb02;
}
.yh-green-01{
	color: #0caa87;
}
.yh-green-02{
	color: #29bbb0;
}
.yh-green-03{
	color: #68d1a6;
}
.yh-green-04{
	color: #05eb8b;
}
.yh-green-05{
	color: #22dfb5;
}
.yh-blue-01{
	color: #4960ec;
}
.yh-blue-02{
	color: #1c8aff;
}
.yh-blue-03{
	color: #49a7f5;
}
.yh-blue-04{
	color: #7a9bfa;
}
.yh-blue-05{
	color: #1baceb;
}
.yh-blue-06{
	color: #61bde4;
}
.yh-blue-07{
	color: #01faff;
}
.yh-purple-01{
	color: #5b02b2;
}
.yh-purple-02{
	color: #b534e6;
}
.yh-purple-03{
	color: #8b6af9;
}
.yh-purple-04{
	color: #8659fe;
}






.yh-red-bg-01{
	background:#c52426;
}
.yh-red-bg-02{
	background:#df3c37;
}
.yh-red-bg-03{
	background:#ff4954;
}
.yh-red-bg-04{
	background:#f87e9c;
}
.yh-red-bg-05{
	background:#fa7268;
}
.yh-red-bg-06{
	background:#e25748;
}
.yh-red-bg-07{
	background:#fd4d54;
}
.yh-red-bg-08{
	background:#ea475e;
}
.yh-red-bg-09{
	background:#ff3fa6;
}
.yh-red-bg-10{
	background:#df3a65;
}
.yh-orange-bg-01{
	background: #e0550c;
}
.yh-orange-bg-02{
	background: #eb7e09;
}
.yh-orange-bg-03{
	background: #fe8833;
}
.yh-orange-bg-04{
	background: #dc8e29;
}
.yh-orange-bg-05{
	background: #f4ac02;
}
.yh-yellow-bg-01{
	background: #e9e126;
}
.yh-yellow-bg-02{
	background: #d4c15a;
}
.yh-yellow-bg-03{
	background: #efcb6b;
}
.yh-yellow-bg-04{
	background: #fbe70e;
}
.yh-yellow-bg-05{
	background: #a5cb02;
}
.yh-green-bg-01{
	background: #0caa87;
}
.yh-green-bg-02{
	background: #29bbb0;
}
.yh-green-bg-03{
	background: #68d1a6;
}
.yh-green-bg-04{
	background: #05eb8b;
}
.yh-green-bg-05{
	background: #22dfb5;
}
.yh-blue-bg-01{
	background: #4960ec;
}
.yh-blue-bg-02{
	background: #1c8aff;
}
.yh-blue-bg-03{
	background: #49a7f5;
}
.yh-blue-bg-04{
	background: #7a9bfa;
}
.yh-blue-bg-05{
	background: #1baceb;
}
.yh-blue-bg-06{
	background: #61bde4;
}
.yh-blue-bg-07{
	background: #01faff;
}
.yh-purple-bg-01{
	background: #5b02b2;
}
.yh-purple-bg-02{
	background: #b534e6;
}
.yh-purple-bg-03{
	background: #8b6af9;
}
.yh-purple-bg-04{
	background: #8659fe;
}








